include LICENSE
include MANIFEST.in
include README.rst
include misspellings
include misspellings_lib/*.json
include setup.py
recursive-include tests *.py *.txt *.c *_list *good_out
recursive-include utils *
exclude .pylintrc
exclude .travis.yml
exclude tox.ini
